---
import AlignmentButtons from '../components/WorkMenu/AlignmentButtons.vue';
import CellDetails from '../components/Grid/CellDetails.vue';
import Grid from '../components/Grid/Grid';
import { createInitialGrid } from '../util/functions/generateInitialGrid';
import ColorPicker from '../components/WorkMenu/ColorPicker';
import FontSettings from '../components/WorkMenu/FontSettings';
import CSVControls from '../components/WorkMenu/CSVControls.vue';
import Help from '../components/WorkMenu/Help.vue';

const cells = createInitialGrid(50, 25);
---

<div class="grid-container">
  <div class="controls-row">
    <ColorPicker client:load />
    <AlignmentButtons client:load />
    <FontSettings client:load />
    <CSVControls client:load />
    <Help client:load />
  </div>
  <CellDetails client:load />
  <div class="grid-wrapper">
    <Grid client:load cells={cells} />
  </div>
</div>

<style>
html, body {
  height: 100%;
  margin: 0;
  padding-left: 5px;
  padding-top: 5px;
}

.grid-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.controls-row {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-bottom: 10px;
  align-items: center;
}

.grid-wrapper {
  flex-grow: 1;
  overflow: hidden;
  max-width: 100%;
}
</style>